.header-info {
  text-align: center;
}

.bottom-target {
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
}


.shape-circle-draggable {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%
}

.shape-square-droppable {
  width: 150px;
  height: 150px;
  border-style: dotted;
}